
html { background:#F4F4F4; }
html.full { background:transparent; }
body {
	margin:0 auto;
	background:#F4F4F4;
	font-family:'Anaheim',sans-serif;
}
main { position:relative; }
body > h1, main > h1 { padding-top:8%; }
h1, h2 {
	color:#0D0D0D;
}
h1 {
    text-align:center;
    font-size:100%;
}
h2 { 
	/*text-align:center;*/
    font-size:100%;
}
abbr[title] { border-bottom:none; }
a {
	color:#ae4949;
	text-decoration:none;
}
a:hover { 
    color:#ae4949;
    text-decoration:underline;
}
/* a:visited { color:#838383; } */
/* h1 a { color:#3E3E3E; } */
/* h1 a:visited { color:#3E3E3E; } */
section {
	margin:0em auto;
	width:95%;
}

.buttons {
	text-align:center;
	overflow:hidden;
	margin-bottom:1em;
}
p, ul { color:#3E3E3E; }
ul {
	/* list-style-type:none; */
	padding:0;
}
li { padding:.3em 0; }
.download, .github {
	text-align:center;
	margin:0 0.6em 1em
}
.button {
	padding:1em;
	color:#3E3E3E;	
	background:#537577;
	font-weight:bold;
	display:block;
	-moz-box-shadow:3px 3px 5px 3px #222;
	-webkit-box-shadow:3px 3px 5px 3px #222;
	box-shadow:3px 3px 5px 3px #222;
}
.button:hover {
	text-decoration:none;
	opacity:0.9;
}
.button .version { font-weight:normal; }
footer {
   left:0px;
   bottom:0px;
   height:100px;
   width:100%;
   color:#303030;
   text-align:center;
   background:#F4F4F4;
   padding-top:1em;
}
footer p {
	color:#303030;
	font-size:.8em;
}

@media only screen and (min-width:36em) {
    h1 { font-size:2em; }
	h2 { font-size:1.3em; }
	section { width:70%; }
	.buttons { margin:0 auto 2em; }
	.download, .github {
		float:left;
		width:44%;
	}
}
